* {
    box-sizing: border-box;
}

body {
    background-color: black;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    text-align: center;
}

.p {
    background-color: black;
    margin: 0;
    padding: 15px;
}

.unicorn {
    cursor: grab;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    margin: 0;
    font-size: 120px;
    z-index: 10;
    position: relative;
}

.rainbow {
    cursor: grab;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    margin: 0;
    font-size: 130px;
    z-index: 5;
}

.rocket {
    cursor: grab;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    margin: 0;
    font-size: 100px;
    z-index: 5;
}

.girl {
    cursor: grab;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    margin: 0;
    font-size: 100px;
    z-index: 10;
    position: relative;
}

.cat {
    cursor: grab;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    margin: 0;
    font-size: 80px;
    z-index: 10;
    position: relative;
}

.dragon {
    cursor: grab;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    margin: 0;
    font-size: 90px;
    z-index: 10;
    position: relative;
}

.sun {
    cursor: grab;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    margin: 0;
    font-size: 100px;
    z-index: 10;
    position: relative;
}